.modal-container-padding {
  padding: 0rem 1.3rem 0.2rem 1.3rem;
}
.modal-custom-width {
  width: 90vw;
}

.signup-form-heading {
  font-size: 1.875rem;
  line-height: 4rem;
  /* margin: 1.5rem 0px; */
  font-weight: 500;
  color: rgb(79, 79, 79);
}

.input-field-signup {
  padding: 12.5px 11.5px;
  border-radius: 0.5rem;
  border: 1px solid rgb(207, 207, 207);
}
.input-field-signup:focus {
  /* border: 1px solid rgb(207, 207, 207); */
  border: none;
  border-color: inherit;
}

.input-section {
  gap: 0.4rem;
}

.create-account {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: rgb(206, 206, 206);
  color: white;
  font-size: 1.1rem;
}

.continue-with-google {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(207, 207, 207);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  color: rgb(109, 109, 109);
}

.signup-bottom-heading {
  font-size: 1.1rem;
  line-height: 1rem;
  color: rgb(28, 28, 28);
}

.red {
  color: rgb(225, 69, 70);
}
.checkbox-custom {
  font-size: 1.5rem;
}

.check-label {
  font-size: 0.9rem;
  padding-left: 0.9rem;
}

.continue-with-google-text {
  font-size: 1rem;
  margin: 0rem 0rem 0rem 1rem;
  /* border: none; */
}
.continue-with-google {
  padding: 0.5rem 1rem 0.5rem 8rem;
}

.errorStyle {
  font-size: "12px";
  color: "rgb(225,69,70)";
}

.btn-style-none {
  border: none;
  color: white;
  background: inherit;
}

.create-button-padding {
  padding: 1rem 1rem 1rem 1rem;
}
