.get-the-app-color {
  color: white;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: white;
}

.shadow-search {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navhotel-signup{
  font-size: 1.2rem;
  padding: .8rem;
}